# About me

- Name: Mattia Peri
- Personal Website: [mattiaperi.it](https://www.mattiaperi.it)
- LinkedIn: [linkedin.com/in/mattiaperi/](https://www.linkedin.com/in/mattiaperi/)
- Email: [<NAME>@<NAME><SURNAME>.it]
- DevOps Architect | 🇮🇹

